.saved-color-wrapper {
    border: 1px solid var(--color-primary);
    border-radius: .4rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    text-align: center;
    line-height: 1;
}
.saved-color-wrapper:hover {
    background: var(--color-primary);
    border: 1px solid var(--color-background);
}

.saved-title {
    border-bottom: .1em solid var(--color-primary);
    line-height: 2;
}

.saved-color-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
}

.saved-display {
    margin: .5rem;
    justify-items: center;
}

.saved-delete {
    margin-top: .6rem;
}

.saved-color-wrapper p {
    margin: 0 0 .6rem;
}

.saved-color-rgb {
    font-size: 1.3rem;
}

.saved-color {
    width: 10rem;
    height: 5rem;
}

.saved-color-heading-wrapper {
    display: flex;
}



.star-button {
    font-size: 2.6rem;
    line-height: 1;
    padding: 0 1rem;
    margin: -1rem 0 0 0;
    min-height: 0;
    height: auto;
    display: block;
    background: none;
    border: none;
    color: var(--color-primary-hover);
}
.star-button:hover {
    color: var(--color-accent);
    background: none;
}
.star-button:focus {
    background: none;
    outline: 2px solid var(--color-accent);
    outline-offset: -.5rem;
    border-radius: 1rem;
}

.star-button.favorite {
    color: var(--color-accent);
}
.star-button.favorite:hover {
    color: var(--color-primary-hover);
}