:root {
    --color-background: #121212;
    --color-text: #DFDFDF;
    --color-elevated: #000000;
    --color-primary: #333333;
    --color-primary-hover: #555555;
    --color-accent: #FFFFFF;
}

.theme-light {
    --color-background: #FFFFFF;
    --color-text: #222222;
    --color-elevated: #F5F5F5;
    --color-primary: #E0E0E0;
    --color-primary-hover: #CCCCCC;
    --color-accent: #000000;
}

.theme-blue {
    --color-background: #12126A;
    --color-text: #D4D4FF;
    --color-elevated: #000040;
    --color-primary: #323295;
    --color-primary-hover: #6060BF;
    --color-accent: #EE7700;
}
