.gradient-colors-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gradient-colors-wrapper > * {
    margin: 0 2rem;
}

.gradient-angle-wrapper {
    display: flex;
    flex-direction: column;
}

.gradient-code {
    font-family: monospace;
    line-height: 2;
}