.gradient-colors-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gradient-colors-wrapper > * {
    margin: .5rem 2rem;
}

.gradient-angle-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.gradient-code {
    font-family: monospace;
    line-height: 2;
}

.gradient-save-button {
    margin-top: 1rem;
}

.gradient-saved-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width: 1700px) {
    .gradients-container {
        display: grid;
        grid-template-columns: 1fr auto auto auto 1fr;
        grid-template-areas:
            ".      type    color   code    ."
            "saved  saved   saved   saved   saved";
    }
    .gradients-type-container {
        grid-area: type;
        padding: 2rem;
    }
    .gradients-color-container {
        grid-area: color;
        padding: 2rem;
    }
    .gradients-code-container {
        grid-area: code;
        padding: 2rem;
    }
    .gradients-saved-container {
        grid-area: saved;
        padding: 2rem;
    }
}