.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    height: 6rem;
}

.nav-list {
    display: flex;
}
.nav-list > li {
    margin: 0 .1rem;
    padding: 1rem .4rem;
}
.nav-list li:last-child {
    margin-right: 0;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--color-text);
}

.nav-button {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 0.5rem 2rem;
    border-radius: .4rem;
    text-decoration: none;
    transition: background 0.2s ease;
    text-align: center;
}

.active {
    border-bottom: 2px solid var(--color-accent);
}

.nav-button:hover {
    background-color: var(--color-primary-hover);
}

.nav-button:focus-visible {
    background-color: var(--color-primary-hover);
    outline: 1px solid var(--color-accent);
    outline-offset: 2px;
}


/* Hamburger */

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 0.5rem;
    height: 2rem;
    justify-content: center;
}


/* Media queries */

@media (max-width: 835px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 6.5rem;
        left: 0;
        width: 100%;
        background: var(--color-background);
        border-bottom: 2rem solid var(--color-accent);
        padding: 2rem 0;
        align-items: center;
        z-index: 10;
    }

    .nav-list > li {
        width: 100%;
        max-width: 40rem
    }

    .nav-list.open {
        display: flex;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .bar {
        width: 2rem;
        height: 0.2rem;
        background: var(--color-text);
        transition: all 0.3s;
        border-radius: 0.1rem;
    }

    /* Hamburger "X" animation */
    .hamburger.open .bar:nth-child(1) {
        transform: translateY(.7rem) rotate(45deg);
    }
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: translateY(-.7rem) rotate(-45deg);
    }
}

@media (max-width: 360px) {
    .app-header {
        justify-content: right;
    }
    .logo-link {
        display: none;
    }
}