.color-choice [class$="-wrapper"] {
    display: flex;
    flex-direction: column;
    margin: 4rem 0 2rem 0;
    align-items: center;
    justify-content: center;
}

.color-choice [class$="-input"][type="color"] {
    height: 8rem;
    border-bottom: .5rem solid var(--color-accent);
}

.color-choice [class$="-input"][type="color"]:focus {
    border: none;
}

.color-choice [class$="-input"] {
    background: none;
    border: none;
    outline: none;
    width: 23.5rem;
    color: var(--color-text);
    text-align: center;
    justify-items: center;
}

.color-choice [class$="-input"]:focus-visible {
    outline: 1px solid var(--color-accent);
}