[class$="-input"] {
    background: none;
    border: 1px solid var(--color-accent);
    outline: none;
    width: 23.5rem;
    color: var(--color-text);
    text-align: center;
    justify-items: center;
}

[class$="-input"]:focus-visible {
    outline: 1px solid var(--color-accent);
    border-radius: 2px;
    border-color: var(--color-primary-hover);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}